.userStats {
    background-color: #e6e6e6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    padding: 15px;
}

.userStats .pic {
    float: left;
    display: block;
    margin: 0;
}

.userStats .pic img {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}

.userStats .data {
    display: block;
    position: relative;
    padding: 4px;
    padding-left: 15px;
    background: #FFFFFF;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}

.userStats .data h1 {
    color: #474747;
    line-height: 1.6em;
    text-shadow: 0 1px 1px #fff;
}

.userStats .data h3 {
    color: #666;
    line-height: 0.9em;
    margin-bottom: 5px;
}

.userStats .data h4 {
    font-size: 1.2em;
    line-height: 1.3em;
}

.userStats .data .socialMediaLinks {
    position: absolute;
    right: 6px;
    top: 8px;
}

.userStats .data .socialMediaLinks a img {
    margin-right: 5px;
}

.userStats .data .sep {
    clear: both;
    margin-top: 40px;
    width: 320px;
    height: 1px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
}

.userStats .data ul.numbers {
    list-style: none;
    margin-top: 0;
    border-top: 1px solid #fff;
    color: #676767;
    padding-top: 7px;
    width: 360px;
}

.userStats .data ul.numbers li {
    float: left;
    display: block;
    height: 50px;
    border-right: 1px dotted #bbb;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 10px;
    padding-right: 15px;
}

.userStats .data ul.numbers li strong {
    color: #434343;
    display: block;
    font-size: 25px;
    line-height: 33px;
    font-weight: bold;
}

div.pic span.ChangePhoto {
    visibility: hidden;
    position: absolute;
    left: 10%;
    top: 10%;
    width: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .75);
}

div.pic:hover span.ChangePhoto {
    visibility: visible;
}

.glow {
    -webkit-box-shadow: 0 0 20px 5px rgba(51, 77, 66, .95);
    -moz-box-shadow: 0 0 20px 5px rgba(51, 77, 66, .95);
    box-shadow: 0 0 20px 5px rgba(51, 77, 66, .95);
    background: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

div.photo img {
    -webkit-box-shadow: 0 0 20px 5px rgba(51, 77, 66, .95);
    -moz-box-shadow: 0 0 20px 5px rgba(51, 77, 66, .95);
    box-shadow: 0 0 20px 5px rgba(51, 77, 66, .95);
}

div.photo span {
    padding-left: 10px;
}

.lead {
    color: #000;
    font-weight: bold;
}

.TagsInput .autocomplete .suggestion-list {
    text-align: left;
}

.label-prono {
    font-weight: normal;
}

#close {
    float: right;
    display: inline-block;
    padding: 2px 5px;
}

.accomplish {
    list-style-type: none;
}

.accomplish li {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}

.accomplish li span {
    padding-left: 15px;
}

.accomplish .image {
    font-size: 28px;
    margin-left: -40px;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid #DBDBDB;
}

.accomplish .ticked {
    float: right;
    padding-right: 10px;
}

.accomplish .ticked i {
    font-size: 28px;
}

.iconcol-grey {
    color: #FF3F00;
}

.iconcol-green {
    color: green;
}

.mybadge {
    width: 100px;
    height: 100px;
    line-height: 60px;
}

.mybadge i {
    margin: 0;
    font-size: 38px;
    vertical-align: middle;
}

.mybadge span {
    margin-top: -15px;
    display: block;
}

.inpset {
    width: 100px;
    font-size: 11px;
    background-color: white;
    border-color: white;
    text-align: left;
}

.fullinput {
    z-index: 90;
    width: 100%;
    font-size: 11px;
    background-color: white;
    text-align: left;
    padding-left: 25px;
}
