<header role="banner" class="ep2016-header">
    <div class="container navbar-container">
        <!-- <div class="row"> -->
        <navbar></navbar>
        <!-- </div> -->
    </div>
</header>
<div class="bg_default">
    <div class="container wrap-container">
        <div class="row">
            <div class="col-sm-12">
                <img src="assets/images/ball_admin_trad.jpg" alt="" style="width: 100%;height: auto;margin-bottom:30px;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <!-- BEGIN LOGIN FORM -->
                <ul class="list-group trad-list">
                    <li class="list-group-item">
                        <div class="trad-info">
                            <span>Page</span>
                            <span><div class="countryflags England"></div> <strong>Anglais</strong><small> (RealPage)</small></span>
                            <span><div class="countryflags France"></div> Francais</span>
                            <span><div class="countryflags Germany"></div> deutsch</span>
                            <span><div class="countryflags Spain"></div> espanol</span>
                            <a ng-click="vm.addTrad()" class="btn btn-success btn-xs"><i class="icon-plus"></i> Add</a>
                            <a ng-click="vm.showFilter()" class="btn btn-default btn-xs"><i class="iconmoon-filter"></i></a>
                        </div>
                    </li>
                    <li class="list-group-item" ng-if="vm.filterBln">
                        <p style="display: inline-block;width:15%">Filter Page </p>
                        <p style="display: inline-block;width:71%;margin-left: 30px;">Filter Text </p>
                        <input type="text" class="form-control" style=" display: inline-block;width:15%" ng-model="vm.search.page">
                        <input type="text" class="form-control" style=" display: inline-block;width:71%;margin-left: 30px;" ng-model="vm.search.$">
                    </li>
                    <li class="list-group-item" ng-repeat="trad in vm.trads | filter:vm.search">
                        <div class="trad-info " ng-class="{'expandable':vm.focused[$index]===1,'trad-border':vm.focused[$index]===1}" ng-init="vm.focused[$index]=0">
                            <span>
                                <select class="form-control form-trad" ng-model="trad.page" ng-change="vm.tradChange(trad)"
>
                                  <option value="Main">Main</option>
                                  <option value="Teams">Teams</option>
                                  <option value="Matchs">Matchs</option>
                                  <option value="Pronos">Pronos</option>
                                    <option value="Account:Login">Account:Login</option>
                                    <option value="Account:Logout">Account:Logout</option>
                                    <option value="Account:Recover">Account:Recover</option>
                                    <option value="Account:Settings">Account:Settings</option>
                                </select>
                            </span>
                            <span><div class="countryflags England" ng-if="vm.focused[$index]===1"></div><input type="text" class="form-control form-trad" ng-model="trad.en"  ng-change="vm.tradChange(trad)"></span>
                            <span><div class="countryflags France" ng-if="vm.focused[$index]===1"></div><input type="text" class="form-control form-trad" ng-model="trad.fr" ng-change="vm.tradChange(trad)"></span>
                            <span><div class="countryflags Germany" ng-if="vm.focused[$index]===1"></div><input type="text" class="form-control form-trad" ng-model="trad.de" ng-change="vm.tradChange(trad)"></span>
                            <span><div class="countryflags Spain" ng-if="vm.focused[$index]===1"></div><input type="text" class="form-control form-trad" ng-model="trad.es" ng-change="vm.tradChange(trad)"></span>
                            <a ng-click="vm.save(trad)" class="btn btn-xs first" ng-class="trad.active ? 'btn-primary':'btn-warning'"><i class="icon-cloud-upload"></i> Save</a>
                            <a ng-click="vm.focused[$index]=1" class="btn btn-default btn-xs" ng-if="vm.focused[$index]===0"><i class="icon-size-fullscreen"></i></a>
                            <a ng-click="vm.focused[$index]=0" class="btn btn-default btn-xs" ng-if="vm.focused[$index]===1"><i class="icon-size-actual"></i></a>
                            <a class="btn btn-danger btn-xs" ng-bootbox-confirm="Are you sure you want to delete this?" ng-bootbox-confirm-action="vm.delete(trad, $index)"><i class="icon-trash"></i></a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="trad-info">
                            <span>Page</span>
                            <span><div class="countryflags England"></div> <strong>Anglais</strong><small> (RealPage)</small></span>
                            <span><div class="countryflags France"></div> Francais</span>
                            <span><div class="countryflags Germany"></div> deutsch</span>
                            <span><div class="countryflags Spain"></div> espanol</span>
                            <a ng-click="vm.addTrad()" class="btn btn-success btn-xs"><i class="icon-plus"></i> Add</a>
                            <a ng-click="vm.showFilter()" class="btn btn-default btn-xs"><i class="iconmoon-filter"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <footer></footer>
    </div>
</div>
