footer.footer {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

#footer {
    background: transparent!important;
    padding: 50px 0;
    color: #7f7f7f;
    position: relative;
}

#footer .gotop {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -40px;
    background: #fff;
    z-index: 8;
    width: 80px;
    height: 80px;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

#footer .gotop:hover,
#footer .gotop:focus {
    top: -25px;
    text-decoration: none !important;
}

#footer .copyright {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0;
}

#footer .bg-footer {
    height: 200px;
    background: url('assets/images/bg-grass.jpg');
    background-repeat: repeat-x;
    background-size: 100% auto;
    background-position: center bottom;
}

.nopuce {
    list-style-type: none;
}
