.navbar-container {
    background: rgba(0, 83, 148, 0.6);
    border-radius: 25px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.ep2016-header .navbar-brand,
.nav-header .navbar-brand {
    float: left;
    display: block;
    font-size: 30px;
    font-weight: 700;
    padding-left: 0;
}

.ep2016-header #navbar li a,
.nav-header #navbar li a {
    font-family: "Source Sans Pro", Arial, sans-serif;
    position: relative;
    font-size: 19px;
    font-weight: 300;
}

@media screen and (min-width: 1045px) {
    .navbar-container {
        width: 1000px;
    }
    .ep2016-header .navbar-brand,
    .nav-header .navbar-brand {
        color: #fff;
    }
    .ep2016-header #navbar li a,
    .nav-header #navbar li a {
        color: rgba(255, 255, 255, 1);
    }
    .ep2016-header #navbar li.active a,
    .nav-header #navbar li.active a {
        background: none;
        color: #fff;
    }
}

@media screen and (max-width: 1044px) {
    .navbar-container {
        width: 100%;
        border-radius: 0;
        background: #FFF;
        position: fixed!important;
        top: 0;
    }
    .ep2016-header .navbar-brand,
    .nav-header .navbar-brand {
        color: #A4D792;
        background: none;
    }
    .ep2016-header #navbar li a,
    .nav-header #navbar li a {
        color: rgba(0, 0, 0, 0.5);
    }
    .ep2016-header #navbar li.active a,
    .nav-header #navbar li.active a {
        background: none;
        color: #A4D792;
    }
}

.navbar-container-fixed {
    background: #FFF;
}

.ep2016-header,
.nav-header {
    position: absolute;
    z-index: 99;
    width: 100%;
    opacity: 1;
    top: 0;
    margin-top: 80px;
}

.ep2016-header .navbar,
.nav-header .navbar {
    padding-bottom: 0;
    margin-bottom: 0;
}

.ep2016-header #navbar li a span,
.nav-header #navbar li a span {
    display: block;
    padding-bottom: 2px;
}

.ep2016-header #navbar li a span:before,
.nav-header #navbar li a span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0;
    -moz-transition: all .3s ease-in-out 0;
    -ms-transition: all .3s ease-in-out 0;
    -o-transition: all .3s ease-in-out 0;
    transition: all .3s ease-in-out 0;
}

.ep2016-header #navbar li a:hover,
.nav-header #navbar li a:hover {
    color: #fff;
}

.ep2016-header #navbar li a:hover span:before,
.nav-header #navbar li a:hover span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.ep2016-header #navbar li.active a span:before,
.nav-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.ep2016-header.navbar-fixed-top,
.nav-header.navbar-fixed-top {
    margin: 0 auto;
    position: fixed!important;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    margin-top: 0;
    top: 0;
    border-radius: 0;
}

@media screen and (min-width: 1045px) {
    .ep2016-header.navbar-fixed-top,
    .nav-header.navbar-fixed-top {
        width: 1045px;
    }
}

@media screen and (max-width: 1044px) {
    .ep2016-header.navbar-fixed-top,
    .nav-header.navbar-fixed-top {
        width: 100%;
    }
}

.ep2016-header.navbar-fixed-top .navbar-brand,
.ep2016-header.navbar-fixed-top #navbar li a:hover,
.nav-header.navbar-fixed-top .navbar-brand,
.nav-header.navbar-fixed-top #navbar li a:hover {
    color: #A4D792;
}

.ep2016-header.navbar-fixed-top #navbar li a,
.nav-header.navbar-fixed-top #navbar li a {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.ep2016-header.navbar-fixed-top #navbar li.active a,
.nav-header.navbar-fixed-top #navbar li.active a {
    background: none;
    color: #A4D792;
}

.ep2016-header.navbar-fixed-top #navbar li.active a span:before,
.nav-header.navbar-fixed-top #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #A4D792;
}

.ep2016-header .navbar-default,
.nav-header .navbar-default {
    border: transparent;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.ep2016-header .navbar-default .brand-slogan,
.nav-header .navbar-default .brand-slogan {
    float: left;
    letter-spacing: 2px;
    color: #adadad;
    margin: 28px 0 0 15px;
}

.ep2016-header .navbar-default .brand-slogan em,
.nav-header .navbar-default .brand-slogan em {
    color: #A4D792;
    font-style: normal;
}

.ep2016-header a,
.nav-header a {
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0;
}


/**
 * clear floated menu items when collapsed
 */

@media screen and (max-width: 767px) {
    .clear-collapse {
        clear: both;
    }
    .collapse-hidden {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .navbar-collapse.collapse.uncollapse-hidden {
        display: none!important;
    }
}


/**
 * set the fore-color of text within navbar-toggle items
 */

.navbar-toggle {
    color: #FFF;
}
