<nav class="navbar navbar-default navbar-ep16">
    <div class="navbar-header">
        <!-- Mobile Toggle Menu Button -->
        <a href="#" class="js-ep2016-nav-toggle ep2016-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
        <a class="navbar-brand" href="index.html">WorldProno 2018</a>
        <br>
        <span ng-hide="nav.isLoggedIn()"><span><a href="/login" class="external"> <span class="login-button" translate>Login</span></a> <span class="login-button"> | </span> <a href="/signup" class="external" > <span translate>Register</span></a></span></span>
        <span ng-show="nav.isLoggedIn()"><a href="#" ng-click="nav.login_click()"><span class="login-button" style="float:right"> {{ nav.getCurrentUser().name }} <i class="glyphicon glyphicon-cog"></i> </span></a></li>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li ng-hide="nav.currentPath !== '/' || 1===1">
                <a ng-click="vm.toggle_audio()"><i class="glyphicon glyphicon-volume-down" ng-if="vm.audioOn"></i><i class="glyphicon glyphicon-volume-off" ng-if="!vm.audioOn"></i></a>
            </li>
            <li class="{{element.class}}" ng-repeat='element in vm.menu'>
                <a class="{{element.a_class}}" href="{{element.href}}" data-nav-section="{{element.section}}"> <span translate>{{element.name}}</span> </a>
            </li>
        </ul>
    </div>
    <div class="login" id="login_menu">
        <div class="arrow-up"></div>
        <div class="formholder">
            <div class="wrap">
                <div class="avatar">
                    <img src="assets/images/ball_globe.gif">
                </div>
                <!--Si non connecté -->
                <div ng-hide="nav.isLoggedIn()">
                    <input type="text" placeholder="username" required>
                    <div class="bar">
                        <i></i>
                    </div>
                    <input type="password" placeholder="password" required>
                    <a href="" class="forgot_link" translate>forgot ?</a>
                    <button translate>Sign in</button>
                </div>
                <!-- Pour les connectés -->
                <div ng-show="nav.isLoggedIn()">
                    <a translate class="btn btn-primary btn-login" href="/settings"><i class="iconmoon-user" style="font-size: 18px;margin-right:10px"></i> My profil</a>
                    <a translate class="btn btn-warning btn-login" href="/admin" ng-if="nav.isAdmin()"><i class="icon-equalizer" style="font-size: 18px;margin-right:10px"></i>Admin</a>
                    <a translate class="btn btn-default btn-login" href="/prono"><i class="iconmoon-gamepad" style="font-size: 18px;margin-right:10px"></i>My prono</a>
                    <a translate class="btn btn-default btn-login"><i class="iconmoon-users" style="font-size: 18px;margin-right:10px"></i>My leagues</a>
                    <a translate class="btn btn-danger btn-login" href="/logout"><i class="iconmoon-sign-out" style="font-size: 18px;margin-right:10px"></i>Log out</a>
                </div>
            </div>
        </div>
    </div>
</nav>
