<header role="banner" class="ep2016-header">
    <div class="container navbar-container">
        <!-- <div class="row"> -->
        <navbar></navbar>
        <!-- </div> -->
    </div>
</header>
<div class="bg_default">
    <div class="container wrap-container" id='leagueDetContentContainer'>
        <div class="row">
            <div class="col-sm-12">
                <img src="assets/images/league_bg.jpg" alt="" style="width: 100%;height: auto;margin-bottom:30px;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>
                <a href="/league">All Leagues > </a> {{vm.leaguesdet.name}}
                <small> ({{vm.members.length}} members)</small>
                <div ng-switch on="vm.leaguesdet.type " style="display: inline-block;margin-right:25px; ">
                    <p ng-switch-when="1 ">Free</p>
                    <p ng-switch-default> <img src="assets/images/money.jpg " alt="Public " style="width:35px; "></p>
                </div>
                </h2>
                <div class="flatglow row" style="margin-bottom:10px;background:#EEE" ng-switch on="vm.leaguesdet.status ">
                    <div class="col-xs-12 col-md-2" ng-switch on="vm.leaguesdet.image.substr(0,4) ">
                        <img class="imgLeagues " ng-switch-when="http " ng-src="{{vm.leaguesdet.image}} " class="circle ">
                        <img class="imgLeagues " ng-switch-default ng-src="assets/images/leagues/{{vm.leaguesdet.image}} " class="circle ">
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <img class="img-circle" width="40" height="40" ng-src="{{vm.leaguesdet.owner_id.avatar || 'assets/images/stades/inconnu.gif'}}">
                        <div>
                            <span style="font-size:20px;font-weight:bold"> {{vm.leaguesdet.owner_id.name}}</span>
                            <br>
                            <small ng-show="vm.leaguesdet.owner_id.firstname" class="text-muted">({{vm.leaguesdet.owner_id.firstname}} {{vm.leaguesdet.owner_id.lastname}} )</small>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h4 style="width:100%;text-align:right" ng-if="vm.leaguesdet.status===1">This is a                     <img ng-switch-when="1 " src="assets/images/stades/cadenasRouge.png " alt="Private " style="width:25px; ">
                    <span ng-switch-when="1 ">Private</span> league. Only approved members will appear in league arena.<br><small ng-if="vm.currentuserId!==vm.leaguesdet.owner_id._id">Please contact the owner to be approved</small> <small style="width:100%;text-align:right" ng-if="vm.currentuserId===vm.leaguesdet.owner_id._id">Click on button with checkmark to approve or ban a member from your league</small> <small style="width:100%;text-align:right" ng-if="vm.currentuserId===vm.leaguesdet.owner_id._id"><br>Click on button with trash to remove permanently a member from your league</small></h4>
                        <h4 style="width:100%;text-align:right" ng-if="vm.leaguesdet.status!==1">This is a                     <img ng-switch-default src="assets/images/cadenasGreen.png " alt="Public " style="width:25px; ">
                    <span ng-switch-default>Public</span> league. All members will appear in league arena.<br></h4>
                    </div>
                </div>
                <p>
                    <button ng-if="nav.isAdmin() || vm.currentuserId && vm.currentuserId===vm.leaguesdet.owner_id._id" class="pull-right btn btn-warning glyphicon glyphicon-pencil " style="margin-left:25px;" ng-hide="vm.modify" ng-click="vm.modify = !vm.modify"> Modify</button>
                    <button ng-if="nav.isAdmin() || vm.currentuserId && vm.currentuserId===vm.leaguesdet.owner_id._id" class="pull-right btn btn-danger glyphicon glyphicon-trash " ng-bootbox-confirm="Are you sure you want to delete this league ? <br/>
                <br/><b>It is irreversible. It can't be undone." ng-bootbox-confirm-action="vm.deleteLeague() " ng-hide="vm.modify"> Delete </button>
                </p>
                <div id="League row " class="leaguedetContent ">
                    <div class="col-sm-3 leagueContentToolTip ">
                        <br>&nbsp;
                        <button class="btn btn-primary " ng-click="vm.joinLeague()" ng-if="!vm.isInLeague && nav.isLoggedIn()">Join League</button>
                        <button class="btn btn-warning " ng-click="vm.removeMember(vm.currentuserId)" ng-if="vm.isInLeague && vm.currentuserId !== vm.leaguesdet.owner_id._id">Quit League </button>
                    </div>
                    <div class="col-sm-9 " style="margin-top:25px;">
                        <table class="table table-responsive table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th colspan="6" style="font-weight:normal;margin-top:25px;">
                                        <span ng-hide="vm.modify">{{vm.leaguesdet.description}}</span>
                                        <span ng-show="vm.modify">
                                            <div class="form-group ">
                                                <label>Description</label> <small> (How do you describe your league ?)</small>
                                        <button ng-if="nav.isAdmin() " class=" btn icon-pin " ng-class="{ 'btn-primary':vm.leaguesdet.pinned } " ng-show="vm.modify" ng-click="vm.pinLeague() "> Pin</button>
                                                <textarea name="description" class="form-control " ng-model="vm.leaguesdet.description" required style="background-color: #FFF " tabindex=4></textarea>
                                            </div>
                                            <div class="form-group ">
                                                <label>Logo URL</label> <small> (PLease copy paste the URL of the image, path should be start with http://)</small>
                                                <input type="text " name="image" class="form-control " ng-model="vm.leaguesdet.image " required style="background-color: #FFF " tabindex=5>
                                            </div>
                                        </span>
                                        <button ng-if="nav.isAdmin() || vm.currentuserId && vm.currentuserId===vm.leaguesdet.owner_id._id" class="pull-right btn btn-success glyphicon glyphicon-save " style="margin-left:25px;" ng-show="vm.modify" ng-click="vm.saveLeague()"> Save</button>
                                    </th>
                                </tr>
                                <tr ng-hide="vm.modify">
                                    <th colspan="2"><a href='#' ng-click="sort( 'name'); " translate>Members</a></th>
                                    <th><a href='#' ng-click="sort( 'join_date'); " translate>Joined Date</a></th>
                                    <th ng-if="vm.leaguesdet.status===1 "><a href='#' ng-click="sort( 'members.activated'); " colspan="2" translate="">Validated</a></th>
                                    <th ng-if="vm.leaguesdet.status===1 "><a href='#' ng-click="sort( 'validationDate'); " translate>Validation Date</a></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="league " ng-repeat="member in vm.members | orderBy : 'user.name' " ng-hide="vm.modify">
                                    <td> <img class="img-circle" width="30" height="30" ng-src="{{member.user.avatar || 'assets/images/stades/inconnu.gif'}}"></td>
                                    <td><a href="/prono/{{member.user._id}}"> {{member.user.name}} </a><small class="text-muted pull-right"> ({{member.user.firstname}} {{member.user.lastname}})</small></td>
                                    <td> {{member.join_date | date:'mediumDate'}}</td>
                                    <td ng-if="vm.leaguesdet.status===1 "> <span class="label " ng-class="member.validated ? 'label-success':'label-warning'">{{member.validated}}</span></td>
                                    <td style="width:130px" ng-if="vm.leaguesdet.status===1 "> {{member.validationDate | date:'mediumDate'}}</td>
                                    <td style="width:100px">
                                        <button ng-if="vm.leaguesdet.status===1 && (nav.isAdmin() || (vm.currentuserId && vm.currentuserId===vm.leaguesdet.owner_id._id))" class="btn glyphicon glyphicon-ok " ng-class="{ 'btn-success': member.validated, 'btn-warning': !member.validated} " type="submit " ng-click="vm.AcceptMember(member)"> </button>
                                        <button ng-if="(nav.isAdmin() || (vm.currentuserId && vm.currentuserId===vm.leaguesdet.owner_id._id ) && vm.leaguesdet.owner_id._id!==member.user._id)" class="btn btn-danger glyphicon glyphicon-trash " type="submit " ng-bootbox-confirm="Are you sure you want to delete this user ({{member.user.name}}) from your league ? <br/><br/><b>It is irreversible. It can't be undone." ng-bootbox-confirm-action="vm.removeMember(member.user._id)"> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- fin auto -->
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer></footer>
    </div>
</div>
