<header role="banner" class="ep2016-header">
    <div class="container navbar-container">
        <!-- <div class="row"> -->
        <navbar></navbar>
        <!-- </div> -->
    </div>
</header>
<div class="bg_default">
    <div class="container wrap-container" id='leagueContentContainer'>
        <div class="row">
            <div class="col-sm-12">
                <img src="assets/images/league_bg.jpg" alt="" style="width: 100%;height: auto;margin-bottom:30px;">
            </div>
        </div>
        Public Leagues are accessible for all, Private Leagues need approval from owner.
        <br/>You can join or create your own league.
        <div class="row" ng-hide="vm.showNew">
            <div class="col-sm-12">
                <div id="League" class="leagueContent">
                    <table class="table table-responsive ">
                        <thead>
                            <tr>
                                <div class="user-info " style="margin:10px;">
                                    <p style="display: inline-block;width:100px;">Filter Leagues </p>
                                    <input type="text" class="form-control" style=" display: inline-block;width:50%;margin-left: 10px;" ng-model="vm.search.$">
                                    <span class="pull-right">
                                <a ng-click="vm.showNew = !vm.showNew" class="btn btn-primary "><i class="icon-plus"></i> Add</a>
                            </span>
                                </div>
                            </tr>
                            <tr>
                                <th><a href='#' ng-click="vm.sortTable('name'); ">League</a></th>
                                <th>
                                    <a href='#' ng-click="vm.sortTable( 'status'); ">Status</a>
                                </th>
                                <th><a href='#' ng-click="vm.sortTable( 'type'); ">Type</a></th>
                                <th><a href='#' ng-click="vm.sortTable( 'description'); ">Description</a></th>
                                <th><a href='#' ng-click="vm.sortTable( 'members'); ">Members</a></th>
                                <th><a href='#' ng-click="vm.sortTable( 'owner'); ">Owner</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="league" ng-repeat="league in vm.leagues | orderBy:vm.orderProp  | filter:vm.search | filter:{pinned:true}" style="background:rgba(0, 83, 148, 0.1);">
                                <td ng-switch on="league.image.substr(0,4)">
                                    <a href="/leaguedetails/{{league._id}}">
                                        <img class="imgLeagues" ng-switch-when="http" ng-src="{{league.image}}">
                                        <img class="imgLeagues" ng-switch-default ng-src="assets/images/leagues/{{league.image}}"> {{league.name | translate}}
                                    </a>
                                </td>
                                <td ng-switch on="league.status">
                                    <img ng-switch-when="1" src="assets/images/stades/cadenasRouge.png" alt="Private" style="width:25px;">
                                    <br><span ng-switch-when="1">Private</span>
                                    <img ng-switch-default src="assets/images/cadenasGreen.png" alt="Public" style="width:25px;">
                                    <br><span ng-switch-default>Public</span>
                                </td>
                                <td ng-switch on="league.type">
                                    <p ng-switch-when="1">Free</p>
                                    <p ng-switch-default> <img src="assets/images/money.jpg" alt="Public" style="width:35px;"></p>
                                </td>
                                <td> {{league.description}} </td>
                                <td style="text-align:center"> <span class="badge">{{league.members.length}}</span> </td>
                                <td style="text-align:center"> <img class="img-circle" width="40" height="40" ng-src="{{league.owner_id.avatar || 'assets/images/stades/inconnu.gif'}}">{{league.owner_id.name}}</td>
                                <td>
                                    <a href="/leaguedetails/{{league._id}}"><i class="glyphicon glyphicon-th-list"> </a></td>
                            </tr>
                            <tr class="league" ng-repeat="league in vm.leagues | orderBy:vm.orderProp  | filter:vm.search | filter:{pinned:false} ">
                                <td ng-switch on="league.image.substr(0,4)">
                                    <a href="/leaguedetails/{{league._id}}">
                                        <img class="imgLeagues" ng-switch-when="http" ng-src="{{league.image}}">
                                        <img class="imgLeagues" ng-switch-default ng-src="assets/images/leagues/{{league.image}}"> {{league.name | translate}}
                                    </a>
                                </td>
                                <td ng-switch on="league.status">
                                    <img ng-switch-when="1" src="assets/images/stades/cadenasRouge.png" alt="Private" style="width:25px;">
                                    <br><span ng-switch-when="1">Private</span>
                                    <img ng-switch-default src="assets/images/cadenasGreen.png" alt="Public" style="width:25px;">
                                    <br><span ng-switch-default>Public</span>
                                </td>
                                <td ng-switch on="league.type">
                                    <p ng-switch-when="1">Free</p>
                                    <p ng-switch-default> <img src="assets/images/money.jpg" alt="Public" style="width:35px;"></p>
                                </td>
                                <td> {{league.description}} </td>
                                <td style="text-align:center"><span class="badge">{{league.members.length}}</span></td>
                                <td style="text-align:center"> <img class="img-circle" width="40" height="40" ng-src="{{league.owner_id.avatar || 'assets/images/stades/inconnu.gif'}}"> {{league.owner_id.name}}</td>
                                <td>
                                    <a href="/leaguedetails/{{league._id}}"><i class="glyphicon glyphicon-th-list"> </a></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- fin auto -->
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="userStats" ng-show="vm.showNew">
            <div class="data">
                <p><strong translate>Add a new league</strong></p>
                <form class="form" name="form" ng-submit="vm.createLeague(form)" novalidate>
                    <div class="form-group">
                        <label>League name</label> <small class="text-danger"> (Can not be changed after creation)</small>
                        <input type="text " name="name " class="form-control " ng-model="vm.newleague.name" required style="background-color: #FFF " tabindex=1>
                    </div>
                    <div class="form-group ">
                        <label>Status</label> <small> (Public Leagues are accessible for all, Private Leagues need approval from you.)</small><small class="text-danger"> (Can not be changed after creation)</small>
                        <select name="status" class="form-control " ng-model="vm.newleague.status" required style="background-color: #FFF " tabindex=2>
                            <option value="0">Public</option>
                            <option value="1">Private</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label>Type of league</label> <small> (Free : you play for fun, With a bet : you play for real, you are in charge)</small><small class="text-danger"> (Can not be changed after creation)</small>
                        <select name="type" class="form-control " ng-model="vm.newleague.type" required style="background-color: #FFF " tabindex=3>
                            <option value="1">Free</option>
                            <option value="2">With a bet</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label>Description</label> <small> (How do you describe your league ?)</small>
                        <textarea name="description" class="form-control " ng-model="vm.newleague.description" required style="background-color: #FFF " tabindex=4></textarea>
                    </div>
                    <div class="form-group ">
                        <label>Logo URL</label> <small> (PLease copy paste the URL of the image, path should be start with http://)</small>
                        <input type="text " name="image" class="form-control " ng-model="vm.newleague.image " required style="background-color: #FFF " tabindex=5>
                    </div>
                    <div>
                        <button class="btn btn-success btn-lg " type="submit" style="float:right;width:200px ">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <footer></footer>
    </div>
</div>
